{% extends "layout.html" %}
{% from "macros.html" import footer, main_menu %}
{% block body %}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {{ main_menu(current_page) }}
      </div>
    </div>

    <div id="map" style="height: 600px;"></div>
    <!-- TODO: Show the date/time when the map has been updated -->

    <div class="ui vertical stripe segment" style="padding-top:4em">
      <div class="ui text container">
        <h3 class="ui header">Coding Expedition</h3>

        <p>
          <strong>Coding Expedition</strong> is an act of writing code in
          anywhere but home or office.  It generally, but not necessarily, takes
          place in remote locations far from all the distractions and pollutions 
          of a large city.
        </p>
        <p>
          I like coding and I also like going on a trip.  A drawback of having
          these as a hobby is that both activities require a non-trivial amount
          of time, which I lack the most.  My solution was to combine these
          two.  Whenever I feel like, I open the Google Maps, pick a decent
          cafe or something comparable, grab my MacBook, and drive to the
          destination, without thinking too much. The trip may be contained in
          a single day, or it may last for a couple of days.
        </p>
        <p>
          On a good day, I get a good amount of work done. A couple of features
          or so in one of my hobby projects. If not, that's not the end of the
          world.  I still get to enjoy some great local food, engage in a
          conversion with local people. It is a good way to expand my
          intellectual and cultural horizon because interaction with people
          outside my circle almost always gives me a new, fresh perspective.
        </p>

        <!-- TODO: Add 'lodging' section explaining how to pick a place to stay
                   overnight -->

        <h3 class="ui header">Projects</h3>
        <p>"So what kind of projects are you working on?"</p>
        <p>This is a reasonable question to be asked at this point. My answer
          to that question is, "it's classified." No, I'm just kidding. I need
          to write some code to list up all projects I'm working on and
          automatically update them. That will be done on one of my future
          coding expeditions. Stay tuned.<p>
      </div>
    </div>
    {{ footer() }}
  </div>

  <script>
    // Not entirely sure if using a global variable is good idea, but no doubt
    // that this makes certain tasks much easier.
    var map;

    var markerColor = '#d9480f';

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: {lat: 36.005, lng: 127.3845}
      });

      var url = "{{ url_for('static', filename='locations.json') }}";
      $.getJSON(url, function(data) {
        console.log(data);
        map.data.addGeoJson(data);
      });

      // NOTE: We are using the idential circle for every data point (for now)
      var circle = getCircle();

      map.data.setStyle(function(feature) {
        return {
          icon: circle
        };
      });

    }

    function getCircle() {
      return {
        path: google.maps.SymbolPath.CIRCLE,
        fillColor: markerColor,
        fillOpacity: .25,
        scale: 10,
        strokeColor: markerColor,
        strokeWeight: .5
      };
    }
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
  </script>
{% endblock %}
