{% extends "layout.html" %}
{% from "macros.html" import footer, main_menu %}
{% block body %}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {{ main_menu(current_page) }}
      </div>
    </div>

    <!-- NOTE: Embedded style properties is a temporary workaround -->
    <div class="ui main text container" style="margin-top: 2em;">
      <h1 class="ui header">Commit Graphs</h1>

      <!-- NOTE: Embedded style properties is a temporary workaround -->
      <div style="font-size:0.8em; color:#707070;">
        <div style="width:1em; height:1em; margin:4px; background-color:#3A62EE; float:left;"></div>
        <div style="float:left;">Mine</div>
        <div style="width:1em; height:1em; margin:4px; background-color:#EE3A62; float:left;"></div>
        <div style="float:left;">Others</div>
        <div style="clear:both;"></div>
      </div>

      {% for year in years -%}
      <h2 class="ui header">{{ year }}</h2>

      <!-- NOTE: Embedded style properties is a temporary workaround -->
      <img src="/static/commit_graphs/{{ year }}.svg" style="max-width: 100%;"/>
      {%- endfor %}

      <p>
        NOTE: Prior to 2009, I was using
        <a href="https://subversion.apache.org/">Subversion</a> for version
        control. <a href="https://github.com/suminb/gitstats">Gitstats</a>, the
        Python program that generates the commit graphs above is not capable of
        analyzing Subversion commit logs and therefore any commit logs made
        before 2009 will not be shown in this page.
      </p>

      <p><!-- FIXME: placeholder --></p>
    </div>

  </div>
  {{ footer() }}
{% endblock %}
