{% extends "layout.html" %}
{% from "macros.html" import footer, main_menu, render_tags %}
{% block body %}
  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {{ main_menu(current_page) }}
      </div>
    </div>
    <div class="ui text container" style="margin: 2em 0 2em 0;">
      <h1>{{ experience.title }}</h1>
      <div>
        <i class="calendar alternate icon"></i>
        {{ experience.starts_at }} - {{ experience.ends_at }}
      </div>
      <div>
        <i class="tags icon"></i>
        {{ render_tags(experience.tags) }}
      </div>
      <p>{{ experience.description|markdown|safe }}</p>
    </div>
    {{ footer() }}
  </div>

{% endblock %}
