{% extends "layout.html" %}
{% block body %}

  <div id="content" class="history">
    <h2>Education</h2>
    <ul class="education">
      <li>
        <h3>University of Arizona</h3>
        <ul>
          <li>Masters in Computer Science, 2013</li>
        </ul>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <ul>
          <li>Bachelor of Science in Computer Science, 2010</li>
          <li>Minor degree in Mathematics</li>
        </ul>
      </li>
    </ul>

    <h2>Work Experiences</h2>
    
    <ul class="work-experiences">
      <li>
        <h3>Metropia</h3>
        <span>Researcher</span>
        <span class="date">Jan 2012 - present</span>
        <div>Building an Android app (2012). Building a scalable system with Amazon EC2 platform. Building in-house software for data analysis.</div>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Research programmer</span>
        <span class="date">Jun 2010 - May 2011</span>
        <div>Developed a series of Java software to help with a machine learning research project, Bootstrapped Learning, which is a Defense Advanced Research Projects Agency (DARPA) sponsored project to develop an electronic student that can learn from a combination of empirical data (sensor readings) and feedback (human instructions).</div>
      </li>
      <li>
        <h3>Notehall</h3>
        <span>Intern software engineer</span>
        <span class="date">Summer of 2009</span>
        <div>Developing new features for Notehall.com, an online marketplace to sell and buy class notes, and maintaining existing code base. (PHP, MySQL)</div>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Undergraduate research assistant</span>
        <span class="date">Feb 2009 - May 2010</span>
        <div>Developed a Windows mobile application for a science research project.</div>
      </li>
      <li>
        <h3>Intrigo</h3>
        <span>Intern software engineer</span>
        <span class="date">2007, 2008</span>
        <div>Developed a number of business web applications, ranging from a local video rental store to an investment portfolio management, using PHP, JavaScript and MySQL.</div>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Undergraduate research assistant</span>
        <span class="date">Nov 2006</span>
        <div>Primary responsibility was to spot logical errors by reading Java source code.</div>
      </li>
    </ul>

  </div>

{% endblock %}