{% extends "layout.html" %}
{% block body %}

  <p class="content">
    Sumin is a game server developer at Nexon. He writes code on his spare
    time for a wide range of projects, using different languages. The following
    graphs show his code commit frequencies.
  </p>

  <p class="content">
    <h2>2015</h2>
    <img src="/static/2015.svg" class="commit-freq"/>
    <h2>2014</h2>
    <img src="/static/2014.svg" class="commit-freq"/>
    <h2>2013</h2>
    <img src="/static/2013.svg" class="commit-freq"/>
  </p>

  <p class="content">
    This website was written in Python with
    <a href="http://flask.pocoo.org/">Flask</a> and
    <a href="http://jinja.pocoo.org/docs/">Jinja2</a>.
    The source code of this website is available on
    <a href="https://github.com/suminb/web">a GitHub repository</a>
    under the terms of <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>.
  </p>

{% endblock %}
