{% extends "layout.html" %}
{% from "macros.html" import footer, main_menu %}
{% block body %}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          {{ main_menu(current_page) }}
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">Sumin Byeon</h1>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <p>
          Sumin is a software engineer at
          <a href="http://nexon.com">Nexon</a>, the largest game company in
          South Korea. He has attained, in his current position, a substantial
          amount experience in designing and implementing highly distributed,
          scalable systems to perform a large amount of computations. He writes
          code on his spare time for a wide range of hobby projects using
          different languages and libraries.
        </p>
        <!-- TODO: Put an auto-updated commit graph here -->
        <h3 class="ui header">Current Projects</h3>
        <ul>
          <li><a href="http://durango.nexon.com">Durango</a></li>
          <li><a href="http://github.com/suminb/finance">SB Finance Project</a></li>
        </ul>
        <h3 class="ui header">Contacts</h3>
        <ul>
          <li><a href="http://philosophical.one">Blog</a></li>
          <li><a href="http://github.com/suminb">GitHub</a></li>
          <li><a href="http://www.linkedin.com/in/suminb">LinkedIn</a></li>
        </ul>
        <!--
        <h4 class="ui horizontal header divider">
          <a href="#">Case Studies</a>
        </h4>
        -->
      </div>
    </div>

    {{ footer() }}
  </div>

{% endblock %}
