{% extends "layout.html" %}
{% from "macros.html" import footer, main_menu %}
{% block body %}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          {{ main_menu(current_page) }}
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">Sumin Byeon</h1>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <p>
          Sumin is a software engineer at <a href="http://coupang.com">Coupang</a>,
          an e-commerce company headquartered in South Korea. Some say it is
          <a href="http://www.demystifyasia.com/coupang/">the Amazon of South
          Korea</a>.
        </p>
        <p>
          He is currently working at an in-house research team called Data
          Intelligence. The primary focus of the team is on constrained
          optimization, forecasting, and vehicle routing problem.
        </p>
        <p>
          His passion lies in distributed systems and machine learning. He also
          likes to argue that math can be advantageous in everyone's daily
          lives. That's probably because he studied Computer Science and
          Mathematics in college. His most beloved language was Python, but
          ever since he wrote MMORPG server code in Python, he is in a
          love-and-hate relationship with the language as he discovered some
          dark side at the deepest part.
        </p>

        <!-- TODO: Put an auto-updated commit graph here -->
        <h3 class="ui header">Current Projects</h3>
        <ul>
          <li>
            <a href="{{ url_for('main.experience', key='datalake') }}">
              {{ experiences.datalake.title }}
            </a>
          </li>
          <li><a href="https://github.com/suminb/finance">SB Finance Project</a></li>
          <li><a href="https://github.com/suminb/sbcw">SB Coding Workshop</a></li>
        </ul>

        <h3 class="ui header">Past Projects</h3>
        <ul>
          <li><a href="http://durango.nexon.com">Durango</a></li>
          <li><a href="https://github.com/suminb/interview-questions">Interview Questions</li>
        </ul>

        <h3 class="ui header">Contacts</h3>
        <ul>
          <li><a href="http://philosophical.one">Blog</a></li>
          <li><a href="http://github.com/suminb">GitHub</a></li>
          <li><a href="http://www.linkedin.com/in/suminb">LinkedIn</a></li>
        </ul>
        <!--
        <h4 class="ui horizontal header divider">
          <a href="#">Case Studies</a>
        </h4>
        -->
      </div>
    </div>

    {{ footer() }}
  </div>

{% endblock %}
