{% from "macros.html" import main_menu %}
<!DOCTYPE html>
<html>
<head>
  <title>Sumin Byeon</title>

  <meta name="viewport" content="width=device-width"/>

  <meta property="og:title" content="Sumin Byeon"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://shortbread.io/static/images/byeonbread_72.jpg"/>
  <meta property="og:site_name" content="shortbread.io"/>
  <meta property="fb:admins" content="10132775"/>
  <meta property="og:description" content="Sumin Byeon - Software Engineer at Coupang"/>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>

{% block stylesheets %}{% endblock %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>

{% block javascripts %}{% endblock %}

</head>
<body>
  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      {{ main_menu(current_page) }}
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    {{ main_menu(current_page) }}
  </div>

{% block body %}{% endblock %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-346833-8']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
