{% from "macros.html" import main_menu %}
<!DOCTYPE html>
<html>
<head>
  <title>Sumin Byeon</title>

  <meta name="viewport" content="width=device-width"/>

  <meta property="og:title" content="Sumin's Resume"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://resume.suminb.com/static/images/byeonbread_72.jpg"/>
  <meta property="og:site_name" content="resume.suminb.com"/>
  <meta property="fb:admins" content="10132775"/>
  <meta property="og:description" content="Sumin Byeon - A graduate research assistant at the University of Arizona"/>

  <link rel="stylesheet" type="text/css" href="/static/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/components/site.css">

  <link rel="stylesheet" type="text/css" href="/static/components/container.css">
  <link rel="stylesheet" type="text/css" href="/static/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/static/components/header.css">
  <link rel="stylesheet" type="text/css" href="/static/components/image.css">
  <link rel="stylesheet" type="text/css" href="/static/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/static/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/static/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/static/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/static/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/components/list.css">
  <link rel="stylesheet" type="text/css" href="/static/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/static/components/transition.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>

{% block stylesheets %}{% endblock %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script src="/static/components/visibility.js"></script>
  <script src="/static/components/sidebar.js"></script>
  <script src="/static/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>

{% block javascripts %}{% endblock %}

</head>
<body>
  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      {{ main_menu(current_page) }}
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    {{ main_menu(current_page) }}
  </div>

{% block body %}{% endblock %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-346833-8']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
