{% macro main_menu(current) -%}
<a href="{{ url_for('main.index') }}"
  class="{% if current == 'index' %}active{% endif %} item">Home</a>
<a href="{{ url_for('main.coding_expedition') }}"
  class="{% if current == 'coding_expedition' %}active{% endif %} item">Coding Expedition</a>
<a href="{{ url_for('main.experience') }}"
  class="{% if current == 'experience' %}active{% endif %} item">Experience</a>
  <!--
  <div class="right item">
    <a class="ui inverted button">Log in</a>
    <a class="ui inverted button">Sign Up</a>
  </div>
  -->
{%- endmacro %}

{% macro footer() -%}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Other Projects</h4>
        <div class="ui inverted link list">
          <a href="http://labs.suminb.com" class="item">Labs</a>
          <a href="http://better-translator.com" class="item">Better Translator</a>
          <a href="http://tldr.kr" class="item">TL;DR</a>
          <a href="https://boincstats.com/en/stats/-1/user/detail/a077d8a4dee6d1c4836f80c4ebcdb8bb/" class="item">
            BOINC
          </a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Fork me on GitHub</h4>
        <p>
          The source code for this website can be found
          <a href="http://github.com/suminb/web">here.</a>
        </p>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
