{% extends "layout.html" %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/jqcloud.css"/>
{% endblock %}
{% block body %}

  <div id="layout">
    <div id="content">
      <h2>Browse by tags, or see the <a href="/projects">entire list</a></h2>
      <div id="tagcloud" class="jqcloud" style="width:100%;height:380px;"></div>
    </div>
  </div>

  <script type="text/javascript" src="/static/javascripts/jqcloud-1.0.2.min.js"></script>
  <script type="text/javascript">
    var word_list = [
      {{ cloud }}
    ];
    $(function() {
      $("#tagcloud").jQCloud(word_list);
    });
  </script>

{% endblock %}