@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*****************************************************************************
 * Global
 *****************************************************************************/
body {
    /*font-family: "Lucida Grande", "Lucida Sans", sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    color: #505050;
    margin: 0;
    line-height: 135%;
    /*background-color: #C0C0C0;*/
    background-image: url(/static/images/low_contrast_linen.png);
}

a {
    color: #505050;

}
a:hover {
    color: #335;
}
a.featured {
    font-weight: bold;
}
a.title {
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 0 0 -2px;
    padding: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
}
ul li {
    margin: 0;
    padding: 0;
}
ul li h1, h2, h3 {
    margin: 1em 0 .25em 0;
}

span.tag {
    padding: 1px 4px 1px 4px;
    background-color: #EFEFEF;
    color: #707070;
    font-size: 10pt;
}
span.tag a {
    text-decoration: none;
    color: #505050;
}
span.keywords {
    background-color: #E0E0E4;
}
span.languages {
    background-color: #E0E4E0;
}
span.year {
    background-color: #E4E0E0;
}

#layout {
    width: 960px;
    margin: auto;
    background-color: #FAFAFA;
}
#content, .content {
    margin: 0;
    padding: 1em 2em 1em 2em;
}

#menu {
    width: 100%;
    height: 32px;
    background-color: #606060;
}
#menu li {
    float: left;
}
#menu li a {
    display: block;
    width: 80px;
    height: 24px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    color: #F0F0F0;
}
#menu li a:hover {
    background-color: #505050;
}

/*****************************************************************************
 * Title bar
 *****************************************************************************/

#title-bar {
    width: 100%;
    height: 72px;
    /*background-image: url(/static/images/pw_maze_white.png);*/
    padding: 8px;
}
#profile-pic {
    float: left;
}
#title {
    float: left;
    display: block;
    padding-left: 8px;
}
#title h1 {
    /*font-family: 'Acme', sans-serif;*/
    font-weight: bold;
    margin: 14px 0 14px 0;
    font-size: 30pt;
}


/*****************************************************************************
 * Links section
 *****************************************************************************/

ul.links a.title {
    color: #4040B0;
}
ul.links a.title:hover {
    background-color: #4040B0;
    color: #FFF;
}

/*****************************************************************************
 * Projects page
 *****************************************************************************/

ul.projects a.title {
    color: #D06020;
}
ul.projects a.title:hover {
    background-color: #D06020;
    color: #FFF;
}
ul.projects h3 {
    margin: 1em 0 0 0;
}

/*****************************************************************************
 * History page
 *****************************************************************************/

ul.education li ul {
    list-style-type: circle;
}
ul.education li ul li {
    margin: 0;
    padding: 0;
}

ul.work-experiences span {
    margin: 1px;
}
ul.work-experiences span.date {
    color: #969696;
}


#addthis {
    
}
#addthis div.addthis_default_style {
    display: inline-block;
    width: 400px;
    margin-left: 280px;
}