.DS_Store
log
tmp
provision.sh
semantic

.cache
__pycache__
web.egg-info
web/build

node_modules

*.json
# Astro static site: track npm/tsconfig manifests
!personal-site/package.json
!personal-site/package-lock.json
!personal-site/tsconfig.json
*.pyc
*.swp
