body {
    font-family: Georgia, serif;
    margin: 2em;
}

a {
    color: #4040B0;
}
a:hover {
    color: #335;
}
a.featured {
    font-weight: bold;
}

/* Projects section */
ul.projects span.tag {
	padding: 0 2px 0 2px;
	background-color: #EFEFEF;
	color: #707070;
	font-size: 0.8em;
}
ul.projects a.title {
	padding: 2px;
	color: #D06020;
	font-size: 1.2em;
	text-decoration: none;
}
ul.projects a.title:hover {
	background-color: #D06020;
	color: #FFF;
}
