---
import { site } from "../data/site";
---

<footer class="wrap site-footer site-footer--bordered">
  <div class="site-footer__source">
    <h3 class="site-footer__heading">Source</h3>
    <p class="site-footer__text">
      The source code for this site is on{" "}
      <a href="https://github.com/suminb/web">GitHub</a>.
    </p>
  </div>
  <p class="site-footer__credit">{site.title}</p>
</footer>
