---
import { site } from "../data/site";
---

<footer class="wrap site-footer site-footer--bordered">
  <div class="site-footer__grid">
    <div>
      <h3 class="site-footer__heading">Other projects</h3>
      <ul class="site-footer__list">
        <li><a href="http://labs.suminb.com">Labs</a></li>
        <li><a href="http://better-translator.com">Better Translator</a></li>
        <li><a href="http://tldr.kr">TL;DR</a></li>
        <li>
          <a
            href="https://boincstats.com/en/stats/-1/user/detail/a077d8a4dee6d1c4836f80c4ebcdb8bb/"
            >BOINC</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="site-footer__heading">Source</h3>
      <p class="site-footer__text">
        The source code for this site is on{" "}
        <a href="https://github.com/suminb/web">GitHub</a>.
      </p>
    </div>
  </div>
  <p class="site-footer__credit">{site.title}</p>
</footer>
