{% extends "layout.html" %}
{% block body %}

  <div id="content">
    <h2>The Behind-The-Scenes Story of <em>Byeon Bread</em></h2>

    <img src="/static/images/byeonbread.jpg" alt="Byeon Bread" style="float:right;margin-left:1em"/>

    <p>A good friend of mine, <a href="http://james.magahern.com">James Magahern</a>, had an idea that the word <em>byeond</em> rhymes with my last name <em>Byeon</em>. There is a local sandwich store / bakery called <a href="http://www.beyondbread.com">Beyond Bread</a> based in Tucson, Arizona. Himself, his twin brother <a href="http://charles.magahern.com">Charles</a>, me and other gang members used to go there for lunch together.</p>

    <p>One day, he took a picture of a brown paper bag for takeout from Byeond Bread to make this <em>Byeon Bread</em> illustration, and he posted it on Facebook. Everyone loved the idea and agreed it just looks like me, although I slightly disagree. Well, I had very short hair and was wearing rectangular glasses at that time, so I could see where it is coming from. Ever since then, I've been using this as an unofficial portrait of mine.</p>
    
  </div>
  
{% endblock %}