{% extends "layout.html" %}
{% block body %}

  <div id="content" class="history">
    <h2>Education</h2>
    <ul class="education">
      <li>
        <h3>University of Arizona</h3>
        <ul>
          <li>Masters in Computer Science, 2013</li>
        </ul>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <ul>
          <li>Bachelor of Science in Computer Science, 2010</li>
          <li>Minor degree in Mathematics</li>
        </ul>
      </li>
    </ul>

    <h2>Work Experiences</h2>
    
    <ul class="work-experiences">
      <li>
        <h3>University of Arizona</h3>
        <span>Graduate research assistant</span>
        <span class="date">Jan 2012 - present</span>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Research programmer</span>
        <span class="date">Jun 2010 - May 2011</span>
      </li>
      <li>
        <h3>Notehall</h3>
        <span>Intern software engineer</span>
        <span class="date">Summer of 2009</span>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Undergraduate research assistant</span>
        <span class="date">Feb 2009 - May 2010</span>
      </li>
      <li>
        <h3>Intrigo</h3>
        <span>Intern software engineer</span>
        <span class="date">2007, 2008</span>
      </li>
      <li>
        <h3>University of Arizona</h3>
        <span>Undergraduate research assistant</span>
        <span class="date">Nov 2006</span>
        <p>Java software inspector</p>
      </li>
    </ul>

  </div>

{% endblock %}