{% extends "layout.html" %}
{% block body %}

<div id="content">

    <div id="profile-pic">
        <img src="/static/images/byeonbread_96.jpg" alt=""/>
    </div>
    <div id="title">
        <h1>Sumin Byeon</h1>
        Graduate research assistant at the <a href="http://arizona.edu">University of Arizona</a>
    </div>

<div style="clear:left;"></div>

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><a href="/tag/datavis"><img src="/static/images/datavis.png" alt="Data Visualization" title="Data Visualization" id="wows1_0"/><!--description--></a></li>
            <li><a href="/tag/bigdata"><img src="/static/images/bigdata.png" alt="Big Data" title="Big Data" id="wows1_1"/></a></li>
            <li><a href="/tag/interdisciplinary"><img src="/static/images/interdisciplinary.png" alt="Interdisciplinary" title="Interdisciplinary" id="wows1_2"/></a></li>
        </ul>
    </div>
    <div class="ws_bullets"><div>
    <a href="#" title="Data Visualization"><img src="/images/datavis.jpg" alt="Data Visualization"/>1</a>
    <a href="#" title="bigdata"><img src="/images/bigdata.jpg" alt="bigdata"/>2</a>
    <a href="#" title="interdisciplinary"><img src="/images/interdisciplinary.jpg" alt="interdisciplinary"/>3</a>
    </div></div>
    <a class="wsl" href="http://wowslider.com">Wordpress Gallery Widget by WOWSlider.com v2.8m</a>
</div>
<script type="text/javascript" src="/javascripts/wowslider.js"></script>
<script type="text/javascript" src="/javascripts/wowslider-script.js"></script>
<!-- End WOWSlider.com BODY section -->

<p>
<h3>Related Projects</h3>
</p>

<!--
<div id="rotator">
    <h2 class="category-title">Data Visualization</h2>

    <img src="/images/sales.png" alt="" class="category-thumbnail"/>

    <p class="category-abstract">Sometimes it is much easier to <em>see</em> through large sets of data to find the meaning of the data than employing other analytical techniques.</p>

    <h3 class="category-projects">Related Projects</h3>

    <ul>
        <li>Sales Report</li>
        <li>Radioactivity</li>
    </ul>
</div>
-->

<!--
    font: 'Museo500'

    Data Visualization
    - Sales Report
    - Radioactivity [discontinued]

    Big Data
    - Purpose-built Appliance

    interdisciplinary
    - Chembook
    - 
    
    Machine Learning
    - Bootstrapped Learning
    // http://www.flickr.com/photos/brewbooks/3303763490/
    
    Applications
    - 
-->

<!--

<ul class="links" style="clear:left;">
    <li><a href="http://labs.suminb.com" class="title featured">Labs</a></li>
    <li><a href="http://blog.suminb.com" class="title featured">Blog</a></li>
    <li><a href="http://bitbucket.org/suminb" class="title">Bitbucket</a></li>
    <li><a href="http://github.com/suminb" class="title">Github</a></li>
    <li><a href="http://www.linkedin.com/in/suminb" class="title">LinkedIn</a></li>
    <li><a href="http://google.com/search?q=sumin+byeon" class="title">Google Search Results</a></li>
</ul>

<h3>Known Affiliates</h3>
<ul class="affiliates">
    <li>
    	<a href="http://arizona.edu" class="title">University of Arizona</a>
    	<span class="tag year">2006-2012</span>
    </li>
    <li>
    	<a href="http://lunant.com" class="title">Lunant</a>
    	<span class="tag year">2007-2012</span>
    </li>
    <li>
        <a href="http://notehall.com" class="title">Notehall</a>
        <span class="tag year">2007, 2008, 2009</span>
    </li>
    <li>
    	<a href="#" class="title">Intrigo</a>
    	<span class="tag year">2007</span>
    </li>
</ul>


<h3>Projects</h3>
<ul class="projects">
    <li>
        <a href="#" class="title">SmarTrek</a>
        <span class="tag year">2012</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Java</span>
        <div class="description">is an ambitious project to solve urban traffic congestion problems. My primary responsibility in the team is to build an Android app for user guidance and data collection.</div>
    </li>
    <li>
        <a href="#" class="title">ChemBook</a>
        <span class="tag year">2012</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Objective C</span>
        <span class="tag language">Python</span>
        <div class="description">is an one-stop-shop for writing chemistry lab reports.</div>
    </li>
    <li>
        <a href="http://hanja.suminb.com" class="title">한자-한글 변환기</a>
        <span class="tag year">2011</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Python</span>
        <span class="tag language">JavaScript</span>
        <div class="description">is a service that translates Chinese characters into their phonetic values in the context of the Korean language.</div>
    </li>
        <li>
        <a href="http://kindleholic.net" class="title">Kindleholic</a>
        <span class="tag year">2011</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Python</span>
        <span class="tag language">JavaScript</span>
        <div class="description">is an RSS/Atom feed aggregation service for Amazon Kindle.</div>
        </li>
        <li>
        <a href="http://www.cs.arizona.edu/projects/focal/edinfo/teachourselves" class="title">Teach Ourselves</a>
        <span class="tag year">2011</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Action Script</span>
        <div class="description">is a project to create a society for students in which learning and creativity is rewarded with points that can be redeemed for goods.</div>
        </li>
        <li>
        <a href="http://www.cs.arizona.edu/~clayton/bl/bl.html" class="title">Bootstrapped Learning</a>
        <span class="tag year">2010</span>
        <span class="tag type">proprietary</span>
        <span class="tag language">Java</span>
        <span class="tag language">C++</span>
        <div class="description">is a DARPA sponsored project to develop an <em>electronic student</em> that can learn from natural human instruction close to the way humans do.</div>
        </li>
        <li>
        <a href="#" class="title">facebook-crawler</a>
        <span class="tag year">2011</span>
        <span class="tag type">classified</span>
        <span class="tag language">Python</span>
        <div class="description">is a project to collect public information of Facebook users such as name and friendship.</div>
        </li>
        <li>
        <a href="https://bitbucket.org/suminb/gdocsdb/overview" class="title">gdocsdb</a>
        <span class="tag year">2011</span>
        <span class="tag type">opensource</span>
        <span class="tag language">Python</span>
        <div class="description">is a Python library to use Google Spreadsheet as a database.</div>
        </li>
        <li>
        <a href="http://labs.suminb.com/maps" class="title">maps</a>
        <span class="tag year">2010</span>
        <span class="tag type">classified</span>
        <span class="tag language">Python</span>
        <div class="description">is a project to reconstruct a map in global scale by collecting map tiles from various sources such as Google Maps and Open Street Map.</div>
        </li>
        <a href="#" onclick="expandProjects(this)">More</a>
        <div id="expandable">
            <li>
            <a href="#" class="title">Violet</a>
            <span class="tag year">2010</span>
            <span class="tag type">proprietary</span>
            <span class="tag language">Objective C</span>
            <div class="description">is a children's book for iPad with user-interactable animations.</div>
            </li>
            <li>
            <a href="http://readown.googlecode.com" class="title">Readown</a>
            <span class="tag year">2010</span>
            <span class="tag type">opensource</span>
            <span class="tag language">Objective C</span>
            <div class="description">is a Markdown reader for Mac OS X.</div>
            </li>
            <li>
            <a href="http://notehall.com" class="title">Notehall</a>
            <span class="tag year">2008, 2009</span>
            <span class="tag type">proprietary</span>
            <span class="tag language">PHP</span>
            <span class="tag language">JavaScript</span>
            <div class="description">is an online marketplace to buy and sell class notes.</div>
            </li>	
            <li>
            <a href="http://cqube.lunant.org" class="title">CQube</a>
            <span class="tag year">2008</span>
            <span class="tag type">proprietary</span>
            <span class="tag language">Objective C</span>
            <div class="description">is a labyrinth-like puzzle game for iPhone.</div>
            </li>
            <li>
            <a href="#" class="title">Mandelbrot set</a>
            <span class="tag year">2008</span>
            <span class="tag type">private</span>
            <span class="tag language">Java</span>
            <span class="tag language">C</span>
            <div class="description">is a distributed processing project to draw a mandelbrot set using multiple computers.</div>
            </li>
        </div>
</ul>
-->

</div> <!-- end of #content -->

<script>
function expandProjects(anchor) {
    $(anchor).hide();
    $("#expandable").show(750);
}
</script>

{% endblock %}