{% extends "layout.html" %}
{% block body %}

  <p class="content">Sumin is a computer science masters student at the University of Arizona, expecting to graduate in December of 2013. He writes code on his spare time for a wide range of projects, using different languages. He is interested in the following topics:</p>

  <!-- Start WOWSlider.com BODY section -->
  <div id="wowslider-container1">
    <div class="ws_images">
      <ul>
        <li><a href="/tag/big data"><img src="/static/images/bigdata.jpg" alt="Big Data" title="Big Data" id="wows1_1"/></a></li>
        <!-- http://www.flickr.com/photos/9246159@N06/599820538/ -->
        <li><a href="/tag/data visualization"><img src="/static/images/datavis.png" alt="Data Visualization" title="Data Visualization" id="wows1_0"/><!--description--></a></li>
        <li><a href="/tag/machine learning"><img src="/static/images/machine-learning.jpg" alt="Machine Learning" title="Machine Learning" id="wows1_2"/></a></li>
        <!-- http://www.flickr.com/photos/brewbooks/3303763490/ -->
        <li><a href="/tag/application"><img src="/static/images/appdev.jpg" alt="Interdisciplinary" title="Application Development" id="wows1_3"/></a></li>
      </ul>
    </div>
    <div class="ws_bullets">
      <div>
        <a href="#" title="bigdata"><img src="/static/images/bigdata-thumb.jpg" alt="bigdata"/>2</a>
        <a href="#" title="Data Visualization"><img src="/static/images/datavis-thumb.jpg" alt="Data Visualization"/>1</a>
        <a href="#" title="machine-learning"><img src="/static/images/machine-learning-thumb.jpg" alt="machine-learning"/>3</a>
        <a href="#" title="application"><img src="/static/images/appdev-thumb.jpg" alt="application"/>4</a>
      </div>
    </div>
    <a class="wsl" href="http://wowslider.com">Wordpress Gallery Widget by WOWSlider.com v2.8m</a>
  </div>
  <script type="text/javascript" src="/static/javascripts/wowslider.js"></script>
  <script type="text/javascript" src="/static/javascripts/wowslider-script.js"></script>
  <!-- End WOWSlider.com BODY section -->

  <p class="content">This website was written in Python with <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://jinja.pocoo.org/docs/">Jinja2</a>. The source code of this website is available on <a href="https://github.com/suminb/web">a GitHub repository</a> under the terms of <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>.
  </p>

{% endblock %}