<!DOCTYPE html>
<html>
<head>
  <title>Sumin Byeon</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/wowslider.css') }}"/>

{% block stylesheets %}{% endblock %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

{% block javascripts %}{% endblock %}

</head>
<body>
  <div id="layout">
    <div id="title-bar">
      <div id="profile-pic">
        <img src="/static/images/byeonbread_72.jpg" alt=""/>
      </div>
      <div id="title">
        <h1>Sumin Byeon</h1>
        Graduate research assistant at the <a href="http://arizona.edu">University of Arizona</a>
      </div>
    </div>

    <div style="clear:both;"></div>

    <div id="menu">
      <ul>
        <li><a href="/">Intro</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/tagcloud">Projects</a></li>
        <li><a href="http://blog.suminb.com">Blog</a></li>
        <li><a href="http://labs.suminb.com">Labs</a></li>
        <li><a href="http://github.com/suminb">GitHub</a></li>
        <li><a href="http://bitbucket.org/suminb">Bitbucket</a></li>
        <li><a href="http://www.linkedin.com/in/suminb">LinkedIn</a></li>
      </ul>
    </div>
    <div style="clear:both;"></div>

{% block body %}{% endblock %}
  </div> <!-- end of #content -->

</body>
</html>